@model mvc_WebApp.Models.testModel.html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="dvtable">
    @(new HtmlString(Model.htmlForm))
</div>

 





 