@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<h2>Authen</h2>

 
 <div class="container">
    <div class="col-md-12">
        <div class="row">
             <div class="panel panel-primary"> 
                    <div class="panel-heading">
                        <div class="panel-title text-center">Authen</div>
                    </div>
                    <div class="panel-body" >
                      <div class="row "> 
                           <div class="col-md-6">username</div> 
                           <div class="col-md-6 ">@Html.TextBox("tb_name", null, new { @class = "form-control", placeholder ="username"}) </div>
                      </div>
                       <div class="row "> 
                           <div class="col-md-6">pasword</div> 
                           <div class="col-md-6 ">@Html.TextBox("tb_password",null,new {@class="form-control",placeholder="password"}) </div>
                         </div>

                        <div class="row">
                           <div class="col-md-12 text-right">
                               <input id="btnSubmit" class="btn btn-success" type="button" value="Authen" />
                           </div>  
                        </div>


                    </div> 
             </div>

        </div>
    </div>
 </div>

 @section css{ 
    <style> 
        .panel
        {
            margin:auto;
            width:50%;
        } 
        .panel-body
        {
           pading : 10%;        
        }
    </style>
 }

 @section scripts{
    
    <script>
        $("#btnSubmit").on("click", function () {
            fncCallServer()
        });

          function fncCallServer() { 
            var _url = "@Url.Action("chkAuthen", "authen")"
            var data = {
                username : "test1",
                password : "test2"
            } 

            return $.ajax({
                   type: "POST",
                    url: _url,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data:   JSON.stringify(data) ,
                    success: function (response) {  global_res = response ; },
                    error: function (xhr, status, msg) {
                        var error = eval("(" + xhr.responseText + ")");
                        console.log(error.Message);
                        result = null;
                    }
            }); 
        }

        

    </script>
 }